# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore secrets
/k8s/secret.yml

# built binary
gitreleases

# built landingpage assetes
landingpage/style.css
landingpage/style.*.css
statik/

# node
node_modules/
